body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: #393B4D;
}

.header img{
  width: 12rem;
}

.header h1{
  align-content: left;
  font-family: 'Inconsolata', monospace;
  font-size: 5rem;
  margin: 0;
}

.blank{
  opacity: 0;
}

.navbar{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px #000000 solid;
  background-color: #ffffff;
  margin-left: 5vw;
  margin-right: 5vw;
}

.first-navbar-item {
margin-right: 1rem;
text-decoration: none;
color: #393B4D;
padding-bottom: 5px;
border-bottom: 1px dashed transparent; /* Set border to transparent initially */
transition: border-bottom 0.5s, opacity 0.5s; /* Add transition effect to border and opacity with a duration of 0.5 seconds */
}

.first-navbar-item:hover {
border-bottom: 1px solid black; /* Change border color on hover */

}

.navbar-item {
margin-right: 1rem;
text-decoration: none;
color: #393B4D;
padding-bottom: 5px;
border-bottom: 1px solid transparent; /* Set border to transparent initially */
transition: border-bottom 1s, opacity 1s; /* Add transition effect to border and opacity with a duration of 0.5 seconds */
}

.navbar-item:hover {
border-bottom: 1px solid black; /* Change border color on hover */
opacity: 0.8; /* Reduce opacity slightly on hover */
}

.searchbar{
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  color: #393B4D;
  border:#000000 0.1rem solid;
  border-radius: 3rem;
}

.favourites{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.home-page-main-img-container{
  background-color: #ffffff;
  max-height: auto;
  overflow: hidden;
  clip-path: inset(10% 0 10% 0);
}

.home-page-main-img {
  width: 90vw;
  height: auto;
  -webkit-filter: sepia(30%) grayscale(10%);
}

.bio{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #393b4d78;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.Anna-icon {
  margin-left: 5vw;
  width: 10rem;
  border-radius: 10rem;
  border: solid 12px #CF4344;
}

.bio p {
  margin-right: 5vw;
  color:#ffffff;
  font-family: 'Inconsolata', monospace;
  text-align: left;
  margin-left: 2rem;
}


.home-page-drinksListItem{
  width: auto;
  list-style: none;
  display: flex;
  margin: 2vw;
  flex-flow: column;
  justify-content: center; 
  align-items: center;
}

.homeCocktailImages{
  max-width: 30vh;
  border: solid 12px #CF4344;
  border-radius: 150px;
}

.home-drink-list {
  text-decoration: none;
  color: #393B4D;
}
.drinksListItem{
  list-style: none;
  margin: 2rem;
  display: flex;
  justify-content: center; /* center the content within the item */
  align-items: center; /* center the content vertically within the item */
}

.drinks-list-container{
  background-color: #393b4d78;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drinksListItem{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.drinksListItem p{
  opacity: 0.2;
  color:white; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.drinksListItem p:hover{
  opacity: 1;
}

.drinksListItem img:hover {
  filter: brightness(0.60);
  cursor: pointer;
  transition: border 0.8s, filter 1.2s linear;
}

.cocktailImages{
  max-width: 12em;
  border: solid 1em #CF4344;
  border-radius: 450px;
}

.cocktailImages:hover{
  border: solid 1em #cf4343c4;
}

.drinksListItem h3{
  opacity: 1;
}

.single-drink-container{
  list-style: none;
  background-color: #8DAEBA;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.singleDrink{
  display: flex;
  justify-content: center;
}

.singleCocktailImage{
  border: solid 12px #CF4344;
  width: 20rem;
  border-radius: 50rem;
}

.footer{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  background-color: #393B4D;
  height: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.footer-link {
  margin: 3vh;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.403);
  font-size: 2.5vh;
  transition: color 1s;
}

.footer-link:hover {
 color: rgb(255, 255, 255);
}

.subFooter{
  background-color: #5d6182;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0);
  
}
.subFooter p{
  font-size: 2vh;
  margin: 1vh;
  text-align: right;
}

@media screen and (max-width: 400px) {

  .header img{
    display: none;
  }

  .mainnav{
    margin-top: 1rem;
  }

  .navbar{
    flex-direction: column;
    background-color: #ffffff40;
    margin-top: 2rem;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .first-navbar-item{
    margin-right: 0.2rem;
    text-decoration: none;
  }

  .navbar-item{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  .searchbar {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  .home-page-main-img {
    width: 140vw;
  }

  .bio{
    flex-direction: column;
  }

  .Anna-icon {
    width: 10rem;
    border-width: 0.3rem;
  }

  .drinks-list-container{
    justify-content: left;
    flex-direction: column;
  }
  
  .cocktailImages{
    text-align: left;
    max-width: 10rem;
    border: solid 1rem #CF4344;
    border-radius: 450px;
  }

}